.Header {
  padding: 10px 0;
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 2px #888888;

  .header-wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    h1 {
      font-size: 24px;
      font-family: fantasy, "Andale Mono", serif;
      color: #ed4956;
    }
  }
}
