.Albums {
  display: flex;
  flex-direction: column;
  margin: 100px 60px 60px 0;
  width: 700px;

  .album {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;

    .title {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
