html,
body {
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
  background: #FAFAFA;
}

a {
  color: #0095f6;
  text-decoration: none;
}
